@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section JQueryDatatable
{
    <link href="~\assets/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" />
}
<style>
    #SellsTable th, */
    #UserList td {
        text-align: center;
        vertical-align: middle; Optional: vertically center content
    }

    #SellsTable thead th {
        background-color: #212529 !important; /* Bootstrap dark */
        color: #fff !important;
    }

    /* /* .dataTables_wrapper .dataTables_length {
        display: flex;
        justify-content: flex-end;
    } */

</style>
<div class="card card-shadow">
    <div class="card card-header">

    </div>
    <div class="card-body">
        <table class="table table-striped" id="SellsTable">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Discription
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

@section script
{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#SellsTable").DataTable({
      
                  processing: true,
                  serverSide: true,
                  ordering: false,
                  searching: false,
                ajax:
                {
                    url:"/Sells/LoadSellsData",
                    type:"POST",
                    dataSrc:function(response)
                    {
                        console.log(response);
                        return response.data;
                    },

                },
                columns:
                [
                    {data:null ,ordering:false,className:"text-center",render:function(data,type,row,meta)
                    {
                        return meta.row+1+meta.settings._iDisplayStart;
                        
                    }
                    },
                    {data:"name",className:"text-center"},
                    {data:"description",className:"text-center"},
                    {data:null,orderable:false,className:"text-center",render:function()
                        {
                                    return `<div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>`;
                        }
                    }

                ],
                   language: {
                     search: "_INPUT_",
                     searchPlaceholder: "Search",
                     lengthMenu: "@Localizer["Display"]_MENU_ @Localizer["records"]",
                     info: "@Localizer["Showing"]_START_ @Localizer["to"]_END_ @Localizer["of"] _TOTAL_ @Localizer["records"]",
                     infoEmpty: "@Localizer["No data available"]",
                     loadingRecords: "@Localizer["Loading"]...",
                     zeroRecords: "@Localizer["No matching records found"]",
                     paginate: { first: "@Localizer["First"]", last: "@Localizer["Last"]", next: "@Localizer["Next"]", previous: "@Localizer["Previous"]" },
                     processing: "@Localizer["Processing"]..."
                 },
                 order: [[1, "asc"]],
                 destroy: true
            });
        });
    </script>
}